@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --yellow: #FFBD13;
    --blue: #4383FF;
    --blue-d-1: #3278FF;
    --light: #F5F5F5;
    --grey: #AAA;
    --white: #FFF;
    --shadow: 8px 8px 30px rgba(0, 0, 0, .05);
}

body {
    background: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

.wrapper {
    background: var(--white);
    padding: 2rem;
    max-width: 576px;
    width: 100%;
    border-radius: .75rem;
    box-shadow: var(--shadow);
    text-align: center;
}

.wrapper h4 {
    margin-bottom: 1rem;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.rating label {
    cursor: pointer;
    font-size: 2rem;
    color: var(--yellow);
}

.rating label:hover,
.rating input[type="radio"]:checked + .bx-star {
    color: var(--yellow);
}

textarea, .input-email {
    width: 100%;
    background: var(--light);
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    resize: none;
    margin-bottom: 1rem;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn-group .btn {
    padding: .75rem 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 500;
    width: 48%; /* Ajuste para que los botones llenen el espacio disponible */
}

.btn-group .btn.submit {
    background: var(--blue);
    color: var(--white);
}

.btn-group .btn.submit:hover {
    background: var(--blue-d-1);
}

.btn-group .btn.cancel {
    background: var(--white);
    color: var(--blue);
    border: 1px solid var(--blue); /* Agrega borde para distinguirlo */
}

.btn-group .btn.cancel:hover {
    background: var(--light);
}